.background {
  viewport-fill: black;
}

#timer {
  fill: white;
  font-size: 64;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
}

#sessions {
  fill: white;
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: start;
  text-length: 1;
}

#iconBreak {
  display: none;
}

#buttonSkip {
  display: none;
}

#buttonPause {
  display: none;
}